
<div class="bg-white">
  <h4 class="card-title bg-primary text-white border p-3">{{title}}</h3>
  <div class="p-2">
    <h5 class="card-title">{{content}}</h5>
    <small class="card-text text-muted">Posted @
      {{created_at}}
      -
      {{user.username}}</small>
      <a href="/post/{{id}}">View Comments</a>
  </div>
</div>  